#game {
    margin-left: 400px;
    padding-left: 15px ;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 5px solid black; /* Schwarze Linie um das Canvas */
    background-color: antiquewhite;
}

#difficulty {
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    /* margin: 0 10px; */
    margin-left: 180px;
}
h2{
    text-align: center;
    align-items: center;
}